.site {
    max-width: 1024px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;

    .nav {
        flex: 2;
    }

    .site-header {
        background-color: rgb(184, 129, 129);
        display: flex;

        .site-branding {
            max-width: 200px;

            img {
                width: 100%;
            }
        }

        .main-navigation {
            --spacing: 10px;
            padding: var(--spacing) calc(var(--spacing) * 4);
            flex: 2;
        }

        .site-title {
            margin: 0;
        }
    }
}

.content-container {
    background-color: rgb(236, 236, 236);
    padding-bottom: 40px;
}


.intro-container {
    margin: 0px;
    padding: 0;
    text-align: center;
    
    .recipe-title {
        background-color: rgb(189, 168, 168);

        .entry-title {
            padding: 20px;
            margin: 0;
        }
    }

    .the-content {
        line-height: 2;
    }

    .note-container {
        padding: 10px;
        margin: 0 auto;
        padding: 40px;
        background-color: rgb(209, 209, 209);

        .notes {
            font-style: italic;
            // text-align: center;

            h2 {
                margin: 0px;
            }

            sub {
                margin: 0px;
                line-height: 1.8;
                display: block;
            }
        }
    }
}

.extra-container {
    text-align: center;
}


.recipe-container {
    --spacing: 10px;
    padding: var(--spacing) calc(var(--spacing) * 2);
    margin: 0px;

    @media (min-width: 1024px) {
        --spacing: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing);
    }

    .recipe-title {
        background-color: rgb(236, 236, 236);
        flex: 1;
    }

    .steps {
        padding: var(--spacing);
        flex: 3;
        border: 1px solid rgb(209, 209, 209);

        ol {
            margin: -5px;
            padding: var(--spacing);

            li {
                margin-bottom: 10px;
            }
        }
    }

    .ingredients {
        padding: var(--spacing);
        background-color: rgb(209, 209, 209);
        min-width: 200px;
        flex: 1.5;

        h4, ul {
            margin-left: var(--spacing);
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                line-height: 1.8;
            }
        }
    }
}