.site {
    max-width: 1024px;
    margin: 0 auto;
}

.content-container {
    padding: 40px 0px;
    background-color: rgb(236, 236, 236);
}


.intro-container {
    margin: 0px;
    text-align: center;
    
    // .recipe-title {
    //     .entry-title {
    //         add rule here if needed
    //     }
    // }

    // .the-content {
    //     added rule here if needed
    // }

    .note-container {
        padding: 10px;
        margin: 0 auto;
        padding: 40px;
        background-color: rgb(209, 209, 209);

        .notes {
            font-style: italic;
            // text-align: center;

            h2 {
                margin: 0px;
            }

            p {
                margin: 0px;
                padding: 0px;
            }
        }
    }
}


.recipe-container {
    --spacing: 10px;
    padding: var(--spacing) calc(var(--spacing) * 2);
    margin: 0px;

    @media (min-width: 1024px) {
        --spacing: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing);
    }

    .steps {
        padding: var(--spacing);
        flex: 3;

        ol {
            margin: -5px;
            padding: var(--spacing);

            li {
                margin-bottom: 10px;
            }
        }
    }

    .ingredients {
        padding: var(--spacing);
        background-color: rgb(209, 209, 209);
        min-width: 200px;
        flex: 1;

        h4 {
            margin-left: var(--spacing);
        }
    }
}