body.home, 
body.page-template-default {
    .site-main {
        article {

            .page-content, 
            .entry-content, 
            .entry-summary {
                margin: 0;
            }
            .entry-header{
                .entry-title {
                    display: none;
                }
            }
        }
    }
}

.site {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0px 24px;
    transition: all 1s;
    z-index: 2;
    // &:hover {
    //     transform: rotate(180deg);
    // }

    .nav {
        flex: 2;
    }

    .page-header {
        background-color: rgb(218, 187, 187);
        background-position: 21% 70%;
        background-size: cover;
        &[style] {
            color: rgb(236, 236, 236);
        }
        
        .page-title {
            margin: 0 auto;
            min-height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    
    .site-header {
        background-color: rgb(184, 129, 129);
        display: flex;
        align-items: center;
        padding: 0px 24px;

        .site-branding {
            max-width: 200px;

            img {
                width: 100%;
                transition: all 0.3s ease-in-out;
                transform: scale(1, 1);
                &:hover {
                    transform: scale(1.2, 1.2);
                }
            }
        }

        .main-navigation {

            margin-left: auto; 
            margin-right: 0;
            width: auto;
            padding: 0px 24px;

            .menu-toggle {
                background-color: rgb(149, 107, 107); 
                border: none;
                color: rgb(236, 236, 236);
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                font-size: large;
            }

            #primary-menu { // ul
                flex: 2;
                gap: 24px;

                li {
                    font-size: 1.5em;

                    a {
                        text-decoration: none;
                        color: #404040;
                        transition: all 0.2s linear;
                        &:hover {
                            color: rgb(236, 236, 236);
                            font-size: 1.05em;
                        }
                    }
                }
            }

            .site-title {
                margin: 0;
            }
        }
    }
}

// editing ARCHIVE
.content-container {
    background-color: rgb(236, 236, 236);
    padding-bottom: 40px;

    .archive-container {
        display: flex;
        // border-bottom: 1px solid rgb(209, 209, 209);

        .intro-container {
            flex: 2;

            .entry-header {
                
                .recipe-title {
                    height: 100px;
                    padding: 0;
                    display: grid;
                    align-items: center;

                    .entry-title {
                        padding: 20px;
                        margin: 0;
                        font-size: 1.5em;
                        
                        a {
                            text-decoration: none;
                            color: #404040;
                            transition: all 0.2s ease-in-out;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            &:hover {
                                color: rgb(236, 236, 236);
                                font-size: 1.05em;
                            }
                        }
                    }
                }
            }
        }

        .archive-img {
            min-width: 50px;
            min-height: 50px;
            max-width: 200px;
            max-height: 100px;
            overflow: hidden;
            transform: scale(1, 1);
            transition: all 0.3s ease-in-out;
            &:hover {
                transform: scale(1.2, 1.2);
            }

            .post-tumbnail {
                width: 100%;
                height: auto;
            }
        }
    }
}


// editing RECIPE
.intro-container {
    margin: 0px;
    padding: 0;
    text-align: center;
    
    .recipe-title {
        background-color: rgb(189, 168, 168);
        padding: 102px 0px;
        background-position: 1% 63%;
            background-size: cover;
            &[style] {
                color: rgb(236, 236, 236);
            }

        .tag-me, 
        .category-me {
            padding-bottom: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 8px;

            a {
                color: #ececec;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                padding: 7px 14px;
                border-radius: 4px;
                font-size: small;   
            }
        }
        .category-me a {
            background-color: #86657c;
            &:hover {
                    background-color: #5f4d5a;
                }
        }
        .tag-me a {
            background-color: #656586;
            &:hover {
                    background-color: #4d4d66;
                }
        }

        .entry-title {
            padding: 20px;
            margin: 0;
            font-size: 2em;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #ececec;
        }
    }

    .the-content {
        line-height: 2;

        .padded-content {
            max-width: 800px;
            margin: 0 auto;
        }
    }

    .note-container {
        padding: 10px;
        margin: 0 auto;
        padding: 40px;
        background-color: rgb(209, 209, 209);

        .notes {
            font-style: italic;
            // text-align: center;

            h2 {
                margin: 0px;
            }

            sub {
                margin: 0px;
                line-height: 1.8;
                display: block;
            }
        }
    }
}

.extra-container {
    text-align: center;

    .recipe-title {
        .entry-title {
            a {
                text-decoration: none;
                color: #404040;
            }
        }
    }
}


.recipe-container {
    --spacing: 10px;
    padding: var(--spacing) calc(var(--spacing) * 2);
    margin: 0px;

    @media (min-width: 1024px) {
        --spacing: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing);
    }

    .recipe-title {
        background-color: rgb(236, 236, 236);
        flex: 1;
    }

    .steps {
        padding: var(--spacing);
        flex: 3;
        border: 1px solid rgb(209, 209, 209);

        ol {
            margin: -5px;
            padding: var(--spacing);

            li {
                margin-bottom: 10px;
            }
        }
    }

    .ingredients {
        padding: var(--spacing);
        background-color: rgb(209, 209, 209);
        min-width: 200px;
        flex: 1.5;

        h4, ul {
            margin-left: var(--spacing);
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                line-height: 1.8;
            }
        }
    }
}



@media screen and (max-width: 37.5em) {

    .menu-menu-1-container {
        display: none;
        position: fixed;
        background: black;
        top: 0;
        bottom: 0;
        left: 0;
        width: 215px;
        z-index: 1;
    }

    .toggled {
        .menu-menu-1-container {
            display: block;
        }
    }
    
    .admin-bar {
        .menu-menu-1-container {
            top: 46px;
        }
    }
}